@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Cormorant:ital,wght@0,300..700;1,300..700&family=Gupter:wght@400;500;700&family=Italiana&family=Lora:ital,wght@0,400..700;1,400..700&family=Tenor+Sans&display=swap');

#navbar {
    display: flex;
    padding: 2%;
    background: rgba(255, 0, 0, 0.1);
    backdrop-filter: blur(15px) saturate(180%);
    -webkit-backdrop-filter: blur(12px) saturate(180%);
    border: 1px solid rgba(255, 255, 255, 0.141);
    border-right-color: rgba(255, 255, 255, 0.1);
    border-bottom-color: rgba(255, 255, 255, 0.08);
    border-radius: 3px;
    margin-right: 5px;
    box-shadow: 
        inset 0 1px 2px rgba(255, 255, 255, 0.45),
        inset 0 -2px 4px rgba(0, 0, 0, 0.15),
        0 8px 20px rgba(0, 0, 0, 0.3),
        0 4px 8px rgba(0, 0, 0, 0.2);
}

#navbar img {
    margin-right: 35%;
    margin-left: 5%;
}

body {
    font-family: "Tenor Sans";
    background-color: black;
    color: white;
}

.active {
    color: rgba(158, 42, 42, 0.5);
}



